.footer-container {
    background-color: #212428;
    padding: 30px 30px 60px 30px;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.footer-description {
    font-size: 1.25rem;
}

.footer-code-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hyperlink {
    color: #ffffff;
    font-weight: bold;
}
